<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>{{title}}</h1>
    <form>
        <input type="hidden" name="hash" value="{{hash}}">
    <ol>
        {{#each schedule}}
            <li>{{this.date}}</li>
        {{/each}}
    </ol>
    </form>
</body>
</html>
